<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>JavaScript : ajax avec vuejs</title>
  </head>
  <body>
    <div id="app">
      <h2>Sélectionnez un pays</h2>
      <select v-model="codeChoisi">
        <option v-for="p in listePaysTries" :value="p.alpha2P">{{p.nomFrP}}</option>
      </select>
      <button @click="ajouterPays">Ajouter</button>
      <h2>Liste des pays</h2>
      <ul>
        <li v-for="p in listePaysSelectionnes">{{p.nomFrP}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="ajax01.js"></script>
  </body>
</html>
