{% extends 'base.html.twig' %}


{% block body %}
    <main class="container">
        <section id="posts" class="row">
            <h2 class="display-4 pt-4">Liste des articles</h2>
        </section>
    </main>

{% endblock %}
