<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS 07</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="nbre1"/>
        <select  v-model="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
            <option value="%">%</option>
        </select>
        <input type="text" v-model="nbre2"/>
        = {{resultat}}
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="vue07.js"></script>
</body>
</html>