.content {
    width: 500px;
    height: auto;
    background-color: darkgrey;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
