<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS - 14</title>
</head>
<body>
<div id="app">
    <h2>Personnes:</h2>
    <select v-model="persChoisies">
        <option v-for="p in personnesFiltrees" :value="p.prenom">
            {{p.prenom}}, {{p.age}} ans
        </option>
    </select><br>
    <h2>Choix du sexe:</h2>
    <input type="radio" name="optSexe" value="X" v-model="sexeChoisi">Tous
    <input type="radio" name="optSexe" value="F" v-model="sexeChoisi">Femmes
    <input type="radio" name="optSexe" value="M" v-model="sexeChoisi">Hommes

    <p>Age minimum: <input type="number" v-model="ageMin"></p>
    <p>Age maximum: <input type="number" v-model="ageMax"></p>

    <h3>Vous avez choisi {{persChoisies}}, sexe: {{sexeChoisi}}</h3>
    <p v-if="persChoisies != null">La personne a {{getPersonAge}} ans</p>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="14.js"></script>
</body>
</html>