<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS - 09</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="nbre1">
    +
    <input type="text" v-model="nbre2">
    = {{resultatComp()}}
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="09.js"></script>
</body>
</html>